* {
  box-sizing: border-box;
}
body {
  color: #333;
  background: #eee;
}
input[type='text'] {
  font-family: '微软雅黑';
  padding: 0 0.1rem;
  color: #333;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
  font-size: 0.14rem;
}
.wihtePanel {
  background: #fff;
}
.page {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
}
.oh {
  overflow: hidden;
}
.mt10 {
  margin-top: 0.1rem;
}
.mb10 {
  margin-bottom: 0.1rem;
}
